<div class="crm-container">

  <h1 crm-page-title>{{ts('Dear You Settings')}}</h1>

  <form name="myForm" crm-ui-id-scope>

    <div ng-repeat="(token, preset) in dearyouSettings.tokens" >
        <h2>{{ preset.name }}</h2>

        <div ng-repeat="contactType in ['individual', 'household', 'organization']" >
          <h3>Settings for {{ contactType }}s</h3>
          <input ng-model="preset[contactType].ifData.pre" />
          <select ng-model="preset[contactType].ifData.prefs" >
            <option ng-if="contactType === 'individual'" value="nickname,first_name" >Nickname, or failing that, First Name</option>
            <option ng-if="contactType === 'individual'" value="first_name" >First Name</option>
            <option value="display_name" >Display Name</option>
            <option ng-if="contactType === 'organization'" value="organization_name" >Organisation Name</option>
            <option ng-if="contactType === 'organization'" value="legal_name" >Legal Name</option>
          </select>
          <input ng-model="preset[contactType].ifData.post" />
          e.g. <samp>{{preset[contactType].ifData.pre}}{{ exampleNames[contactType] }}{{preset[contactType].ifData.post}}</samp>

          <p>...but if that's not available, use:</p>
          <input ng-model="preset[contactType].ifNoData.text" />
        </div>
    </div>

    <div>
      <button ng-click="saveSettings()">{{ts('Save')}}</button>
    </div>

  </form>

</div>
